<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/junkawasaki/.local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>cloud.yataverse.main2-lake-car-jacob</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/python3</string>
		<string>/Users/junkawasaki/github/kotoba-lang/yataverse-distribution/deploy/ship_lake_car.py</string>
		<string>--inventory</string>
		<string>/Users/junkawasaki/.local/share/yataverse/inventory-20260926.jsonl</string>
		<string>--sha256</string>
		<string>f616962875a0850efa824b53be45fc22edce39f4c280a32cb80b72a55b020188</string>
		<string>--count</string>
		<string>821533</string>
		<string>--start-row</string>
		<string>4200</string>
		<string>--max-blocks</string>
		<string>1000</string>
		<string>--max-bytes</string>
		<string>200000000</string>
		<string>--source-ssh-host</string>
		<string>xavier@xavier</string>
		<string>--source-exporter</string>
		<string>/mnt/nvme/ipfs-xavier/lake-state/bin/export_lake_car_from_kubo.py</string>
		<string>--source-inventory</string>
		<string>/mnt/nvme/ipfs-xavier/lake-state/inventory-20260926.jsonl</string>
		<string>--source-ipfs-bin</string>
		<string>/mnt/nvme/ipfs-xavier/bin/ipfs</string>
		<string>--source-ipfs-path</string>
		<string>/mnt/nvme/ipfs-xavier/repo</string>
		<string>--source-rpc-url</string>
		<string>http://127.0.0.1:5001</string>
		<string>--source-output-dir</string>
		<string>/mnt/nvme/ipfs-xavier/lake-state/car-exports-jacob</string>
		<string>--raw-cids-file</string>
		<string>/Users/junkawasaki/github/kotoba-lang/yataverse-distribution/deploy/lake_raw_cids_20260926.json</string>
		<string>--state-dir</string>
		<string>/Users/junkawasaki/.local/share/yataverse-car-jacob/state</string>
		<string>--ssh-host</string>
		<string>junkawasaki@100.117.208.83</string>
		<string>--remote-dir</string>
		<string>/Users/junkawasaki/.local/share/kotoba-bulk-ipfs-jacob/lake-state</string>
		<string>--remote-importer</string>
		<string>/Users/junkawasaki/.local/share/kotoba-bulk-ipfs-jacob/bin/import_lake_car.py</string>
		<string>--remote-inventory</string>
		<string>/Users/junkawasaki/.local/share/kotoba-bulk-ipfs-jacob/inventory/inventory-20260926.jsonl</string>
		<string>--remote-ipfs-bin</string>
		<string>/opt/homebrew/bin/ipfs</string>
		<string>--remote-ipfs-path</string>
		<string>/Volumes/251220/kotoba-ipfs/repo</string>
		<string>--remote-raw-block-store</string>
		<string>/Users/junkawasaki/.local/share/kotoba-bulk-ipfs-jacob/lake-state/raw-blocks</string>
		<string>--remote-car-dir</string>
		<string>/Volumes/251220/kotoba-ipfs/staging/lake-car</string>
		<string>--remote-large-archive</string>
		<string>/Volumes/251220/kotoba-ipfs/recovery/archive-20260926</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/junkawasaki/.local/share/yataverse-car-jacob/logs/ship.stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/junkawasaki/.local/share/yataverse-car-jacob/logs/ship.stdout.log</string>
	<key>StartInterval</key>
	<integer>10</integer>
	<key>WorkingDirectory</key>
	<string>/Users/junkawasaki/github/kotoba-lang/yataverse-distribution</string>
</dict>
</plist>
